<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295045674034-t69e7tdu7me7cnvdtqlqrhtild5f8l4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295045674034-t69e7tdu7me7cnvdtqlqrhtild5f8l4p</string>
	<key>API_KEY</key>
	<string>AIzaSyAn6kglDCprpTLfgYRW97hcrfLCQMJLS38</string>
	<key>GCM_SENDER_ID</key>
	<string>295045674034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>test-exercise-1facb</string>
	<key>STORAGE_BUCKET</key>
	<string>test-exercise-1facb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295045674034:ios:9f339e0839b6cdd5a7f82b</string>
</dict>
</plist>